<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Email Recibido</title>
</head>
<body>
        <section class="shadow-2xl rounded-3xl">
            <div class="p-8 text-center sm:p-12">
                <p class="text-sm font-semibold tracking-widest text-pink-500 uppercase">Tu consulta ha sido enviada</p>
            
                <h5 class="mt-6 text-3xl font-bold">Gracias por escribirnos, tu consulta sera respondida a la brevedad</h5>
            
                <a class="inline-block w-1/2 py-4 mt-8 text-sm font-bold text-white bg-black rounded-full shadow-xl" href="/">
                    Volver a la pagina principal
                </a>
            </div>
        </section>
</body>
</html>